pytest==7.4.0
ipdb==0.13.13
flake8==6.1.0
pep8-naming==0.13.3
autoflake==2.2.0
mccabe==0.7.0
brunette==0.2.8
tox==4.8.0
coverage==7.3.0
pytest-cov==4.1.0
zest.releaser==8.0.0
setuptools==68.0.0
twine==4.0.2
wheel==0.41.1
rope==1.9.0
pytest-mock==3.11.1
brunette==0.2.8
lock-requirements==0.1.1
requests-mock==1.11.0
humanize==4.7.0
